= form_for [wiki] do |form|
  - if wiki.errors.any?
    .alert.alert-danger
      %h4 There are #{pluralize(wiki.errors.count, "error")}
      %ul
        - wiki.errors.full_messages.each do |msg|
          %li= msg
  
  .form-group
    = form.label :title
    = form.text_field :title, autofocus: true, class: 'form-control', placeholder: 'Enter title'
  
  .form-group
    = form.label :body
    = form.text_area :body, rows: 20, class: 'form-control', placeholder: 'Enter body'
  
  .form-group
    = form.label :public, class: 'checkbox' do
      #{form.check_box :public} Public Wiki
  
  .form-group
    = form.submit 'Save', class: 'btn btn-success'